<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <link href=<%= htmlWebpackPlugin.options.myCss %> rel="stylesheet" type:"text/css" media:"screen">

  <link rel="shortcut icon" type="image/x-icon" href=<%= htmlWebpackPlugin.options.favIcon %> />
  <link rel="apple-touch-icon" href=<%= htmlWebpackPlugin.options.favIcon %> />
  <!--<script data-api-baseUrl="%baseUrl%" src="/api/signalr/hubs?svp=snapversion"></script>-->

  <!--because import does not work -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!--api key, because snap.local was legacy domain name and could make queries without key-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8oFZtx1g0Pb6vGB8KboGYWXAiADslAMw&libraries=places"></script>

  <meta name="viewport" content="user-scalable=no,width=device-width"/>
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<body>
  <div id='app'></div>
</body>

</html>