* {
    margin:0;
    padding: 0;
}

ol, ul {
	list-style: none;
}


.splash-enter {
  opacity: 0.01;
}

.splash-enter.splash-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.splash-leave {
  opacity: 1;
}

.splash-leave.splash-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.regular{
  background: #eeeeee;
}

.error{
  background: #f77;  
}

.info{
  background: #ddddff;  
}

.warning{
  background: #FFA500;  
}

.success{
  background: #66BB66;
}

/* custom styles */

.smd-relative{
  position: relative;
}

.smd-full-heigth{
  height: 100%;
}

.smd-full-width{
  width: 100%;
}

.smd-v-padding{
  padding:10px 0;
}

.smd-no-h-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.smd-no-padding{
  padding: 0 !important;
}

.smd-no-margin{
  margin: 0 !important;
}

.smd-cursor-pointer{
  cursor: pointer !important;
}

.smd-cursor-not-allowed{
  cursor: not-allowed !important;
}

.smd-border-bottom{
  border-bottom: 1px solid rgb(233, 236, 239)
}

.smd-underlined:hover {
  text-decoration:underline; 
}

.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-Color: rgba(0,0,0,0.3);
  padding: 5px;
}

.smd-toggle {
  width: 70px;
  display: inline-flex !important;
  padding: 0 !important;
  align-items: center;
  position: relative;
}

.smd-toggle-inner{
  width: 24px;
}

.smd-toggle-inner:focus,
.smd-toggle-inner input:focus {
  box-shadow: 0 0 3px 2px lightblue !important;
}

.smd-toggle-item{
  width: 64px;
  float: left;
  text-align: center;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.smd-toggle-item.smd-off{
  width: 0px;
  overflow: hidden;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.smd-toggle-checkbox { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.smd-text-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smd-transitions{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.smd-expanded li{
  box-sizing: content-box;
}

.smd-collapsed li{
  height: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.smd-no-decoration{
  text-decoration: none !important;
}

.smd-text-align-justify{
  text-align: justify;
}

.smd-10-margin{
  margin: 10px 0 10px 0;
}

.smd-margin-top-10{
  margin: 10px 0px 0px 0px;
  height: 40px;
}

.smd-display-flex{
  display: flex;
  flex-wrap: wrap;
}

.smd-height-400{
  min-height: 400px !important;
}

.smd-flex-direction{
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.smd-z-index-1{
  z-index: 1;
}

.smd-z-index-2{
  z-index: 2;
}

.smd-height-50{
  height: 50px;
}

.smd-text-align-center{
  text-align: center;
}

.smd-text-overflow{
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.smd-overflow-scroll{
  overflow-x: scroll;
}

.smd-width-100{
  width: 100px;
}

.smd-10-margin-bottom{
  margin-bottom: 10px !important;
}

.th-smd-table{
  vertical-align: text-top !important;
}
.td-smd-table{
  vertical-align: middle !important;
}

.smd-vertical-align-bottom{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.smd-avatar-height-50px{
  height: 250px;
}

.smd-avatar-vertical-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.smd-setting-children .smd-full-width {
  padding-top:5px;
  padding-bottom: 5px; 
}

.smd-validate-border {
  border: 1px solid rgb(238, 10, 10);
  border-radius: 5px;
}

.smd-validate-color-text {
  color:red;
  font-weight: bold;
}

.smd-color-picker-swatch{
  padding: '5px';
  background: '#fff';
  border-radius: '1px';
  box-shadow: '0 0 0 1px rgba(0,0,0,.1)';
  display: 'inline-block';
  cursor: 'pointer';
  margin-top: 5%;
}

.smd-color-picker-popover{
  position: 'absolute';
  z-index: '2';
}

.smd-color-picker-cover{
  position: 'fixed';
  top: '0px';
  right: '0px';
  bottom: '0px';
  left: '0px';
}

.smb-clear-btn-max-height{
  max-height: 38px !important;
}

.smd-button-width-220{
  margin-top: 5px;
  width: 220px;
}

.smd-margin-top-bottom-10px{
  margin: 10px 0px 10px 0px;
}

.smd-image{
  max-width: 100%;
  max-height: 300px;
  padding: 2px;
}

.smd-div-image{
  margin: 10px 0 10px 0;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smd-clear-btn-image{
  margin-left: 5px; 
}